.footerContent {
  background-image  : url("https://dnamic-site.s3.amazonaws.com/goDnamic/emailAssets/bgFooter.png") !important;
  background-size   : contain !important;
  background-repeat : no-repeat !important;
  width             : 680px !important;
  height            : 491px;
}

.title {
  padding: 50px;
}

.portafolioH1 {
  font-size      : 70px;
  color          : #000000;
  letter-spacing : 0.5px;
}

.ckeckH1 {
  font-size      : 60px;
  color          : #A4A4A4;
  letter-spacing : 0.5px;
}

.miniLogo {
  padding-bottom: 20px;
}

@media only screen and (max-width: #{$global-breakpoint}) {
  table.body .container {
    width: 100% !important;
  }
  .footerContent {
    background-size : cover !important;
    width           : 100% !important;
    height          : auto;
  }

  .title {
    padding: 10px;
  }

  .portafolioH1 {
    font-size : 40px;
  }

  .ckeckH1 {
    font-size : 30px;
  }

  .miniLogo {
    padding-bottom: 20px;
  }
}