.headerContainer {
  background-image  : url("https://dnamic-site.s3.amazonaws.com/goDnamic/emailAssets/headerBgNew.png") !important;
  background-size   : contain !important;
  background-repeat : no-repeat !important;
  width             : 680px !important;
  height            : 321px !important;
}

.logoImage {
  margin-top: 47px !important;
}

/* Small only */
@media only screen and (max-width: #{$global-breakpoint}) {
  .headerContainer {
    background-size  : contain !important;
    width            : 100% !important;
    height           : 27vh !important;
  }

  .logoImage {
    width      : 27% !important;
    margin-top : 23px !important;
  }

  table.body .container {
    width: 100% !important;
  }
}

@media screen and (max-width: 412px) {
  .headerContainer {
    height          : 26vh !important;
    background-size : cover !important;
  }
}

@media screen and (max-width: 320px) {
  .headerContainer {
    height          : 27vh !important;
    background-size : contain !important;
  }
}

@media screen and (max-width: 360px) {
  .headerContainer {
    height          : 29.1vh !important;
    background-size : cover !important;
  }
}