.helloContainer {
  background-image  : url("https://dnamic-site.s3.amazonaws.com/goDnamic/emailAssets/bodyBgnew.png") !important;
  background-size   : contain !important;
  background-repeat : no-repeat !important;
  width             : 680px !important;
  height            : 424px;
}

.helloH1 {
  position : absolute !important;
  top      : -43% !important;
}

.helloP {
  font-size      : 20px;
  color          : #000000;
  letter-spacing : 0.04px;
  line-height    : 30px;
}

  .spacer1 {
    display : block;
  }

  .spacer2 {
    display : none;
  }

/* Small only */
@media only screen and (max-width: #{$global-breakpoint}) {
  .helloContainer {
    width           : 100% !important;
    height          : 32vh !important;
    background-size : cover !important;
  }

  .helloH1 {
    top : -17% !important;
  }

  .helloP {
    font-size   : 15px;
    line-height : 20px;
  }

  .spacer1 {
    display : none;
  }

  .spacer2 {
    display : block;
  }
  table.body .container {
    width: 100% !important;
  }

  .firma {
    width: 35% !important;
  }

}

@media screen and (max-width: 412px) {
  .helloContainer {
    height : 35.2vh !important;
  }
}

@media screen and (max-width: 320px) {
  .helloContainer {
    height          : 32vh !important;
    background-size : contain !important;
  }
}

@media screen and (max-width: 360px) {
  .helloContainer {
    height          : 27vh !important;
    background-size : cover !important;
  }
}