.peopleContainer {
  background-color  : #000000 !important;
  width             : 680px !important;
  height            : 481px;
}

.title {
  padding: 50px;
}

.peopleH1 {
  font-size      : 60px;
  color          : #A4A4A4;
  letter-spacing : 0.5px;
}

.workH1 {
  font-size      : 60px;
  color          : rgb(255,255,255);
  letter-spacing : 0.5px;
}

.peopleP {
  padding        : 5px;
  font-size      : 20px;
  color          : rgb(255,255,255);
  letter-spacing : 0.04px;
  line-height    : 40px;
}

.iconsContainer {
  a,img {
       text-align      : center;
       text-decoration : none;
       color           : rgb(255,255,255);
       font-size       : 20px;
       transition      : 0.4s all cubic-bezier(0.4, 0.0, 0.2, 1);
       position        : relative;
       &:after{
         content       : ‘’;
         display       : block;
         width         : 30px;
         height        : 30px;
         border        : 1px solid #fff;
         margin        : 0 auto;
         position      : absolute;
         border-radius : 50%;
         top           : 9px;
         left          : 50%;
         margin-left   : -17px;
         transform     : scale(.3,.3);
         opacity       : 0;
         transition    : 0.4s all cubic-bezier(0.4, 0.0, 0.2, 1);
       }
       &:hover{
         transform : scale(1.3,1.3);
         &:after{
           transform : scale(1,1);
           opacity   : .4;
         }
       }
  }
}

@media only screen and (max-width: #{$global-breakpoint}) {
  table.body .container {
    width: 100% !important;
  }
  .peopleContainer {
    width   : 100% !important;
    height  : auto !important;
  }

  .title {
    padding: 0;
  }

  .peopleH1 {
    font-size      : 40px;
    letter-spacing : 0;
  }

  .workH1 {
    font-size      : 40px;
    letter-spacing : 0;
  }

  .peopleP {
    padding     : 5px;
    font-size   : 16px;
    line-height : 30px;
  }

  .iconsContainer {
    a,img {
      font-size       : 20px;
      transition      : none;
      position        : relative;
      &:after{
        position      : relative;
        border-radius : 0;
        top           : 0;
        left          : 0;
        margin-left   : 0;
        transform     : 0;
        transition    : none;
      }
      &:hover{
        transform : none;
        &:after{
          transform : none;
        }
      }
    }
  }
}
