<container class="footerContent">
  <row>
    <columns class="title">
      <center>
        <h1 class="text-center ckeckH1">Check</h1>
        <h1 class="text-center portafolioH1">Our Portfolio</h1>
      </center>
    </columns>
  </row>
  <row>
    <columns small="6" large="3">
      <center>
        <a href="#"><img src="https://dnamic-site.s3.amazonaws.com/goDnamic/emailAssets/pVtvAsset.png" alt="PvTv"></a>
      </center>
    </columns>
    <columns small="6" large="3">
      <center>
        <a href="#"><img src="https://dnamic-site.s3.amazonaws.com/goDnamic/emailAssets/honeygrowAsset.png" alt="honeyGrow"></a>
      </center>
    </columns>
  </row>
  <row>
    <center>
      <img class="miniLogo" src="https://dnamic-site.s3.amazonaws.com/goDnamic/emailAssets/logo_dnamicFooter.png" alt="logo">
    </center>
  </row>
</container>