<container class="headerContainer">
  <row>
    <columns>
      <center>
        <img class="logoImage" src="https://dnamic-site.s3.amazonaws.com/goDnamic/emailAssets/logo_dnamicHeader.png" alt="logo">
      </center>
    </columns>
  </row>
</container>
