<container class="helloContainer">
  <row>
    <columns>
      <center>
        <spacer class="spacer1" size="120" />
        <spacer class="spacer2" size="80" />
        <p class="text-center helloP">
          Amado Delgado Soto, consectetur adipiscing elit. Integer quam augue,
          venenatis sit amet, tincidunt vel eros. Integer non porta aliquam in eget mauris. Nunc suscipit nibh a non porta aliquam in commodo.
          Nunc mattis lacus ut finibus pulvinar.
        </p>
      </center>
    </columns>
  </row>
  <center>
    <img class="firma" src="https://dnamic-site.s3.amazonaws.com/goDnamic/emailAssets/firmaDnamic.png" alt="firm">
  </center>
</container>