<container class="peopleContainer">
  <row>
    <columns class="title">
      <center>
        <h1 class="text-center peopleH1">People You Really</h1>
        <h1 class="text-center workH1">Want To Work With</h1>
      </center>
    </columns>
  </row>
  <row>
    <columns>
      <center>
        <p class="text-center peopleP">Teger quam augue, consectetur adipiscing elit. Integer quam augue, venenatis sit amet, tincidunt vel eros. </p>
      </center>
    </columns>
  </row>
  <row class="iconsContainer">
    <columns small="3" large="3">
      <center>
        <a href="#"><img class="icon" src="https://dnamic-site.s3.amazonaws.com/goDnamic/emailAssets/linkedinIcon.png" alt="InIcon"></a>
      </center>
    </columns>
    <columns small="3" large="3">
      <center>
       <a href="#"><img class="icon" src="https://dnamic-site.s3.amazonaws.com/goDnamic/emailAssets/instagramIcon.png" alt="InstagramIcon"></a>
      </center>
    </columns>
    <columns small="3" large="3">
      <center>
        <a href="#"><img class="icon" src="https://dnamic-site.s3.amazonaws.com/goDnamic/emailAssets/facebookIcon.png" alt="FbIcon"></a>
      </center>
    </columns>
    <columns small="3" large="3">
      <center>
        <a href="#"><img class="icon" src="https://dnamic-site.s3.amazonaws.com/goDnamic/emailAssets/dnamicIconLink.png" alt="DnamicIcon"></a>
      </center>
    </columns>
  </row>
</container>